<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useTaskStore } from "../stores/tasks";
import BoardItem from "./BoardItem.vue";
import { ref } from "vue";
import type { Board } from "@/types";
import InputText from "primevue/inputtext";
const taskStore = useTaskStore();

const { boards } = storeToRefs(taskStore);
const newBoardTitle = ref("");
taskStore.fetchTasks();
const addBoards = () => {
  if (newBoardTitle.value.trim() !== "") {
    const newboard: Board = {
      id: Math.random().toString(),
      name: newBoardTitle.value,
      columns: [],
    };
    taskStore.addBoard(newboard);
    newBoardTitle.value = "";
  }
};
</script>
<template>
  <div class="container">
    <div class="card-columns">
      <div  class="card">
        <div class="card-body">
          <h5 class="card-title">Danh sách các bảng</h5>
          <div class="card-content">
            <div class="boardlist">
              <BoardItem v-for="(t, index) in boards" :key="index" :board="t">
              </BoardItem>
              <InputText
                type="text"
                v-model="newBoardTitle"
                @keyup.enter="addBoards"
                placeholder="Add a board"
                class="input-title"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.card   {
  width: 1200px;
  height: 600px;
  margin-left: 70px;
  margin-top: 50px;
}
.card-title {
  float: left;
}
.card-content {
  width: 1200px;
  height: 500px;
  margin-top: 50px;
}
.boardlist {
  width: 1200px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 20px;
}
.input-title {
  height: 110px;
  width: 190px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}
::placeholder {
  text-align: center;
  align-items: center;
}
</style>
