<script setup lang="ts">
import type { Board } from "@/types";
import 'primeicons/primeicons.css';
import { defineProps } from 'vue';

interface Props {
  board: Board ;
}
const props = defineProps<Props>();
</script>
<template>
  <router-link
    :to="{ path: 'board', query: { boardID: props.board.id } }"
    class="nav-link">
    <div class="card-item">
      <div class="card-body">
        <h5 class="card-title">{{ props.board.name }}</h5>
        <span class="pi pi-star" ></span>
      </div>
    </div>
  </router-link>
</template>
<script>
</script>

<style lang="css"  scoped>
.card-item {
  width: 190px;
  height: 110px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.card-title {
  margin-bottom: 0;
}
.card-body {
  height: 110px;
}
.pi-star {
  position: absolute;
  bottom: 10px;
  right: -20px;
  transition: right 0.3s ease;
}

.card-item :hover .pi-star {
  right: 10px;
}
.card-item :hover {
  background-color: #c4c4c4;
}
</style>