<script setup lang="ts">
import { useTaskStore } from "../stores/tasks";
import ColumItem from "../components/ColumItem.vue";
import { ref } from "vue";
import { Columns } from "@/types";
import { useRoute } from "vue-router";
import { storeToRefs } from "pinia";
import InputText from "primevue/inputtext";

const taskStore = useTaskStore();
const { boards } = storeToRefs(taskStore);
const newBoardTitle = ref("");
const route = useRoute();
let columns: Columns[];
let boardID: string;
const board = boards.value.find(
  (board) => board.id === (route.query.boardID as string)
);
if (board) {
  columns = board.columns;
  boardID = board.id;
}
console.log(board);

const addColumn = () => {
  if (newBoardTitle.value.trim() !== "") {
    const newColums: Columns = {
      id: Math.random().toString(),
      name: newBoardTitle.value,
      tasks: [],
    };
    taskStore.addColumns(boardID, newColums);
    newBoardTitle.value = "";
  }
};
</script>
<template>
  <div class="card">
    <div class="card-content">
      <div class="columnslist">
        <ColumItem
          v-for="(t, index) in columns"
          :key="index"
          :column="t"
          :boardID="boardID"
          >/</ColumItem
        >

        <InputText
          type="text"
          v-model="newBoardTitle"
          @keyup.enter="addColumn"
          placeholder="Add a columns"
          class="input-columns"
        />
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.card {
  width: 1500px;
  height: 600px;
  margin-left: 70px;
  margin-top: 50px;
}
.columnslist {
  margin-top: 20px;
  width: 1500px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 20px;
}
.card-body {
  width: 250px;
  height: 400px;
}
.input-columns {
  width: 220px;
  height: 45px;
  border: 1px #c4c4c4 solid;
  border-radius: 9px;
}
</style>
