<script setup lang="ts">
import type { Columns, Task } from "@/types";
import TaskList from "../components/TaskList.vue";
import { ref } from "vue";
import { useTaskStore } from "../stores/tasks";
import InputText from "primevue/inputtext";
import "primeicons/primeicons.css";

interface props {
  column: Columns;
  boardID: string;
}

// eslint-disable-next-line no-redeclare
const props = defineProps<props>();
const newTaskTitle = ref("");
const taskStore = useTaskStore();
const addTasks = () => {
  if (newTaskTitle.value.trim() !== "") {
    const newTask: Task = {
      id: "0",
      title: newTaskTitle.value,
    };
    taskStore.addTask(props.boardID, props.column.id, newTask);
    newTaskTitle.value = "";
  }
};

// const deleteColumns = () => {
//   console.log(props.boardID,props.column.id)
//   taskStore.deleteColumns(props.boardID,props.column.id)
// }
</script>
<template>
  <div class="container" v-draggable>
    <div class="card-columns">
      <div class="card">
        <div class="card-body">
          <div class="columns-title">
            <h5 class="task-title-columns">{{ props.column.name }}</h5>
          </div>
          <TaskList
            v-for="(t, index) in props.column.tasks"
            :key="index"
            :task="t"
            :columnID="props.column.id"
            :boardID="props.boardID"
          />
          <InputText
            type="text"
            v-model="newTaskTitle"
            @keyup.enter="addTasks"
            placeholder=" Add a task"
            class="input-task"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.card-columns {
  width: 250px;
}
.card {
  width: 250px;
}
.card-body {
  width: 250px;
  height: auto;
}
.input-task {
  width: 220px;
  height: 45px;
  border: none;
  outline: none;

  margin-top: 10px;
}
.columns-title {
  width: 204px;
  display: flex;
  justify-content: space-between;
}
.input-task:hover {
  border: 1px #c4c4c4 solid;
  border-radius: 9px;
  background-color: #c4c4c4;
}
</style>