<script setup lang="ts">
import TaskItem from "../components/TaskItem.vue";
import type { Task } from "@/types";

interface Props {
  task: Task;
  columnID: string;
  boardID: string;
}
const props = defineProps<Props>();
</script>
<template>
  <div class="task-list">
    <TaskItem
      :task="props.task"
      :columnID="props.columnID"
      :boardID="props.boardID"
    />
  </div>
</template>
<style lang="scss">
</style>
