<script setup lang="ts">
import { useTaskStore } from "../stores/tasks";
import type { Task } from "@/types";
import { ref } from "vue";
import Dialog from "primevue/dialog";
import "primeicons/primeicons.css";
import InputText from "primevue/inputtext";
import Button from "primevue/button";

interface Props {
  task: Task;
  columnID: string;
  boardID: string;
}
const isDropdownOpen = ref(false);
const taskStore = useTaskStore();
const props = defineProps<Props>();
const value = ref(props.task.title);


const visible = ref(false);

const deleteTask = () => {
  taskStore.deleteTask(props.boardID, props.columnID, props.task.id);
  isDropdownOpen.value = false;
};

const editTask = () => {
  taskStore.updateTask(
    props.boardID,
    props.columnID,
    props.task.id,
    value.value
  ),
    (visible.value = false);
};


const showFormEdit = () => {
  visible.value = true;
};
</script>
<template>
  <div class="card-task" > 
  
    <div class="card-body">
      <h6 class="card-title">
        {{ props.task.title }}
      </h6>
      <div class="dropdown">
        <span class="icondp"><i class="pi pi-ellipsis-h"></i></span>
        <div class="dropdown-options">
          <a href="#" @click="deleteTask">Delete</a>
          <a href="#" @click="showFormEdit">Edit</a>
        </div>
        <Dialog
          v-model:visible="visible"
          modal
          header="Cập nhật"
          :style="{ width: '50vw' }"
        >
          <InputText type="text" v-model="value" />

          <template #footer>
            <Button
              label="Cancel"
              icon="pi pi-times"
              @click="visible = false"
              text
            />
            <Button
              label="Submit"
              icon="pi pi-check"
              @click="editTask"
              autofocus
            />
          </template>
        </Dialog>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.card-task {
  width: 220px;
  border: 1px solid #c4c4c4;
  height: 45px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.card-body {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.card-task:hover .icondp {
  opacity: 1;
  transition: 1s;
}
.card-task:hover {
  background-color: #c4c4c4;
}

body {
  background: #0a0a23;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.icondp {
  opacity: 0;
}
F .icondp:hover {
  opacity: 1;
}

button:hover {
  background-color: #ddd;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding: 20px 40px;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius: 5px;
}
</style>